#HomeContainer{
    background-color: #685160;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#eco-selector{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 5px 5px 0px black;
}
#eco-image{

}